.main-container{
    display: flex;
    align-items: center;
}
.fist-col{
    align-items: center;
}
.banner-img{
    width: 800px;
    height: 800px;
}

@media screen and (max-width: 600px) {
    .main-container{
        flex-direction: column;
       
    }
    .banner-img{
        width: 100%;
        height: auto;
    }
  }
  